* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
 
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #eeeeea;
    background-image: url('src/css/Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

 
.wrapper {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
 
.card{
    background-color: rgba(220,220,220,0.9);  background-size: cover;
    position: relative;
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}
 
.card::before {
    position: absolute;
    top: 15px;
    right: 560px;
    width: 20px;
    height: 20px;
}
 
 
.card > .row {
    color: black;
    display:flex;
    flex-wrap: nowrap;
}
 
.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
 
.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}
 
.play-game-button {
    --b: 3px;
    --s: .35em;
    --color: #373B44;
  
    position: fixed;
    bottom: 15px;
    right: 20px;
    
    padding: calc(.4em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .4em;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

.play-game-button:hover,
.play-game-button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}
 
.play-game-button:active {
  background: var(--color);
  color: #fff;
}
 
.description p {
    color: black;
    padding-top: 5px;
}
 
.description h4 {
    font-size: 16px;
    text-transform: uppercase;
}
 
input {
    display: none;
}
 
input:checked + label {
    width: 600px;
}
 
input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}
 
.card[for="c1"] {
    background-image: url('src/spongebob.png');
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: center;
}
 
.card[for="c2"] {
    background-image: url('src/1v1.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}
 
.navbar {
    background-color: #333;
    overflow: hidden;
    position: relative;
    width: 100%;
    top: 0;
    text-align: right;
}
 
.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 14px;
    margin-right: 10px;
    text-decoration: none;
}
 
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
 
.category{
    justify-content: center;
    margin-top: 150px;
    text-align: center;
    font-size: 30px;
}
.buttons{
    margin:10px
}