* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    padding-top: 40px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #eeeeea;
    background-image: url('Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wrapper {
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.container.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.card {
    background-color: rgba(220,220,220,0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: relative;
    width: 80px;
    border-radius: .75rem;
    border-radius: 2rem;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}
.card > .row {
    flex-direction: column;
    color: black;
    display: flex;
    flex-wrap: nowrap;
}
.card > .row > .description {
    text-align: center;

}
.description h4 {
    text-transform: uppercase;
    font-size:21px;
    margin-top: -30px;
    margin-bottom: 30px;
}
input {
    display: none;
}
input:checked + label {
    width: 600px;
}
.buttons{
    margin-bottom: 8px;
}
 
.button-style {
    margin: 10px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 10px;
    font-weight: 500;
    border-radius: 20px;
    padding: 13px 23px;
    border: 1px solid #222222;
    background: #fff;
    color: #222222;
    margin-bottom: 7px;
    width: 300px;
    height: 50px;
}

.button-style:hover {
    border-color: #000000;
    background: aliceblue;
}
.btn {
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
    padding: 5px 10px;
    
  }
  
  .btn:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  }
  
  .btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}
.btn:hover:before {
  left: 100%;
}
.btn-row {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.description ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}